.login-container, .signup-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-form, .signup-form{
  width: 300px; /* Adjust width as needed */
}

.form-group {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-button, .signup-button{
  width: 80px;
  height: 40px;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: #04AA6D;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.logout-button{
  width: 80px;
  height: 40px;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: hsl(158, 95%, 35%);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-button:hover, .signup-button:hover, .logout-button:hover  {
  background-color: hsl(158, 95%, 37%);
}

.signup-link, .login-link{
  margin-top: 1rem;
}

.signup-link a, .signup-link a{
  color: #04AA6D;
  text-decoration: none;
}

.signup-link a:hover, .login-link a:hover {
  text-decoration: underline;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.success-message {
  color: green;
  font-size: 14px;
  margin-top: 5px;
}
