.fso-header {
    height: 10%;
    width: 100%;
    background: #ffffff;
    border-bottom: 1px solid #dddddd;
}

.fso-logo {
    height: 90px;
    margin-bottom: 0px;
}

.fso-logo:hover {
    opacity: 0.8;
}
