.fso-header {
    /* display: flex;
    align-items: center;
    justify-content: space-around; */
    height: 10%;
    width: 100%;
    /* background: #dddddd; */
    background: #ffffff;
    border-bottom: 1px solid #dddddd;
}

/* .fso-title {
    font-size: 32px;
    font-weight: 800;
} */

/* .fso-search-bar {  
    margin-right: auto;
    width: 50%;
} */

.fso-logo {
    height: 90px;
    margin-bottom: 0px;
    /* float: left; */
}

.fso-logo:hover {
  opacity: 0.8;
}