.fso-answer-question-meta {
    color: #bbbbbb;
}

.fso-ans-button {
    margin: 2% 0 2% 2%;
}

.fso-answer-title-detail {
    color: #bbbbbb;
    font-size: 0.95em;
}

.fso-answer-title-detail-text {
    color: #0c0d0e;
    font-size: 0.95em;
}
