.profile-container {
    margin: auto;
    padding: 20px;
}

.profile-header {
    text-align: left;
}

.navDiv {
    margin: 20px 5px;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #ffffff;
    background-color: #e7700d;
}

.nav-pills .nav-link {
    border-radius: 20px;
}
